@import "tailwindcss";

html {
  scroll-behavior: smooth;
}
/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}
.swiper-pagination {
  bottom: -30 !important; /* Adjust base position */
  margin-top: 1.5rem !important; /* Adds space below slides */
}
.swiper-pagination-bullet-active {
  background-color: #9f00ff !important;
  box-shadow: 0 0 10px #9f00ff;
  opacity: 1;
}
.custom-loader {
  width: 4px;
  height: 4px;
  color: #ea6c1c;
  border-radius: 50%;
  box-shadow: 19px 0 0 7px, 38px 0 0 3px, 57px 0 0 0;
  transform: translateX(-38px);
  animation: d1 1s infinite alternate linear;
}

@keyframes d1 {
  50%  {box-shadow: 19px 0 0 3px, 38px 0 0 7px, 57px 0 0 3px}
  100% {box-shadow: 19px 0 0 0  , 38px 0 0 3px, 57px 0 0 7px}
}

/* ==== Thin Scrollbar Styles ==== */
::-webkit-scrollbar {
  width: 3px; /* thin */
}

::-webkit-scrollbar-track {
  background: transparent; /* or #f9f9f9 */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Firefox support */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3) transparent;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 10s linear infinite;
}
